ul {
  list-style: none;
}

.main {
  background-image: url('desktop.png');
  display: flex;
  background-repeat: no-repeat;
  height: 392px;
  width: 522px;
  margin: 39px 0 0 469px;
}

.js--item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.js--item {
  position: absolute;
  left: 808px;
  top: 186px;
  transform: rotate(6deg);
  transition-duration: 0.4s;
}

.js--item:hover {
  transform: rotate(6deg) scale(1.4);
}

.js-word {
  width: 49px;
  height: 53px;
}

.quiz-word {
  width: 119px;
  height: 52px;
}

.todo-icon {
  position: absolute;
  width: 115px;
  top: 150px;
  left: 651px;
  transform: rotate(-3deg);
  transition-duration: 0.4s;
}

.todo-icon:hover {
  transform: rotate(-3deg) scale(1.1);
}

.rsp-icon {
  position: absolute;
  width: 95px;
  top: 94px;
  transform: rotate(-16deg);
  left: 514px;
  transition-duration: 0.4s;
}

.rsp-icon:hover {
  transform: rotate(-16deg) scale(1.1);
}

.xo-icon {
  position: absolute;
  width: 129px;
  top: 276px;
  left: 635px;
  transition-duration: 0.4s;
}

.xo-icon:hover {
  transform: scale(1.3);
}

.next-game--icon {
  width: 104px;
  position: absolute;
  top: 213px;
  transform: rotate(-17deg);
  left: 514px;
}