.App {
  display: flex;
  justify-content: center;
}

.App__Game {
  margin: 20px;
}

.App__Game__Participants {
  display: flex;
  justify-content: space-between;
  width: 410px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App__Game__Container {
  display: flex;
  width: 410px;
  height: 100px;
}

.App__Game__Container__Player {
  background-color: red;
  display: flex;
  flex: 1;
}

.App__Game__Container__Player__List {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.App__Game__Container__Result {
  background-color: green;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center
}

.App__Game__Container__Result-item {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.App__Game__Container__Computer {
  background-color: yellow;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.App__Game__Container__Computer__List {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.App__Rules {
  margin: 20px;
  display: flex;
}

.App__Rules__List {
  display: flex;
  flex-direction: column;
  justify-content: space-around;   
}

.active {
  background-color: orangered;
}